.footer {
    padding: 50px 0 20px 0;
    background-color: #35404f;
    color: #878c94;
}

.footer .title{
	text-align: center;
	color:#fff;
	font-size:25px;
}

.footer .footer-icon{
	padding:0px;
	margin:0px;
}

.footer .footer-icon a{
	display:inline-block;
	color:#fff;
	font-size:25px;
	padding:5px;
}